html {
    min-width: 100px;
}

body{
    width: 325px;
}
div#doc.g-doc{
    height: 115px;
    background-color: #fafafa;
}

div#player {
    position: inherit;
    margin-top: 0px;
    min-width: 100px;
    width: 100%;
    height: 115px;
    box-shadow: none;
    box-shadow: none;
}

div#slider_wrapper{
    padding-left: 0px;
}

#oneGoogleWrapper,
#nav-content-container,
#player-right-wrapper,
.now-playing-menu-wrapper,
.hover-overlay
{
    display: none;
}

.player-middle, .player-top{
    top:56px;
}

div#player-left-wrapper {
    width: 60%;
    margin-right: -200px;
}

#player-left-wrapper div.player-left{
    margin-right: 0px;
}

#playerSongInfo div.image-wrapper {
    width: 58px;
    height: 58px;
    top: 0px;
}