body {
    margin: 0;
    padding: 0;
    font-family: Lucida Grande, Arial, sans-serif;
    background-color: #fafafa;
}

#switch{
    width: 60px;
    position: absolute;
}

#container.max #switch:hover {
    background-color: rgba(0,0,0,.2);
}
#container.min #switch:hover {
    background-color: #e8e8e8;
}

#container.max #switch{
    height: 60px;
    right: 0px;
    top: 0px;
}

#container.min #switch{
    height: 55px;
    right: 0px;
}

#container.max #b_min,
#container.min #b_max{
    display: block;
}

#container.max #b_max,
#container.min #b_min{
    display: none;
}